.orderStatus{
    height: 16px;
    width: 16px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.accepted{
    background-color: white;
    border:2px solid green
}
.pending{
    background-color: orange;
}
.canceled{
    background-color: red;
}
.delevired{
    background-color: green;
}
.rishuLink:hover{
    color:red;
cursor: pointer;
text-decoration: none;
}
.rishuLink2{
    color:black!important;
    
}
.rishuLink2:hover{
    text-decoration: none;
    color:red;
}